<div class="center">
    <div class="page-header">
     <h1 class="center-text">Local Hoops <i class="fa-solid fa-basketball spinner"></i></h1>
     <p class="sublogo center-text"><em>Where North Park YMCA Members Compete.</em></p>
    </div>

    <div class="row mt-5 min-form">

        @* <div class="col-md">
            <partial name="_Register"></partial>
        </div> *@

         <div class="col-md">
            <partial name="_Login"></partial>
        </div>
        
    </div>

</div>